body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.App {
    background: rgb(0, 0, 0);
    background: linear-gradient( 90deg, rgba(0, 0, 0, 1) 11%, rgba(1, 0, 18, 1) 24%);
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-basis: 1;
    color: white;
}

h1 {
    font-weight: 600;
    font-size: 4rem;
    margin: 0;
    padding: 0 0 40px 0;
}

h5 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

p {
    font-size: 16px;
}

.text {
    /* background: lightblue; */
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

h1 span {
    color: rgb(19, 28, 70);
}

button {
    padding: 13px;
    margin-top: 2vh;
    font-weight: 700;
    background: rgb(19, 28, 70);
    color: whitesmoke;
    border: 0.4px solid;
    border-radius: 4px;
}

@media screen and (max-width: 501px) {
    .text {
        width: 100%;
    }
}