body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.App {
    background: rgb(0, 0, 0);
    background: linear-gradient( 90deg, rgba(0, 0, 0, 1) 11%, rgba(1, 0, 18, 1) 24%);
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-basis: 1;
    color: white;
}

h1 {
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
    padding: 0 0 40px 0;
}

h5 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

p {
    font-size: 16px;
    padding: 10px;
}

.text {
    /* background: lightblue; */
    width: 504px;
    text-align: center;
    display: flex;
    flex-direction: column;
}


/* media queries */

@media screen and (max-width: 504px) {
    .text {
        width: 100%;
    }
}